.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.w100 {
  width: 100%;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.grow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.text-center {
  text-align: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.p-x-15 {
  padding-right: 15px;
  padding-left: 15px;
}

.p-y-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.p-x-30 {
  padding-right: 30px;
  padding-left: 30px;
}

.p-y-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.rotate180 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.rotate90 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.rotate0 {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.cursor-initial {
  cursor: initial;
}

.cursor-pointer {
  cursor: pointer;
}

.container {
  width: 90%;
  margin: 0 auto;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline-style: none;
  margin: 0;
  padding: 0;
  font-family: font1;
}

html {
  font-size: 16px;
}

ul {
  list-style: none;
  padding: 0;
}

input:not([type="date"]),
textarea {
  background-color: transparent;
  border: 2px solid #d3d3d3;
}

input:not([type="date"]) {
  border: none;
  border-bottom: 2px solid #d3d3d3;
}

input[type="date"] {
  background-color: rgba(211, 211, 211, 0.65);
  border: none;
  border-radius: 8px;
  padding: 6px;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a:hover {
  -webkit-filter: brightness(75%);
          filter: brightness(75%);
}

h1 {
  font-size: 2em;
}

h1,
h2,
h3,
h4,
h5 {
  color: #151515;
}

p {
  color: #3b3b3b;
}

button {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

button:hover {
  -webkit-filter: brightness(75%);
          filter: brightness(75%);
}

.bg-wrapper {
  background-color: #82828273;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.bg {
  background: url(https://cdn.pixabay.com/photo/2016/01/27/04/32/books-1163695_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -2;
}

.topbtn {
  position: fixed;
  bottom: 15px;
  left: 15px;
  background-color: rgba(21, 21, 21, 0.5);
  padding: 20px;
  border-radius: 50%;
  border: 1px solid #a7a6a6;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #d3d3d3;
}

.topbtn:hover {
  background-color: #151515;
}

[data-title] {
  position: relative;
}

[data-title]:hover:after {
  content: attr(data-title);
  position: absolute;
  top: 175%;
  left: 25px;
  font-size: 1rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 5px 10px;
  color: #f1f1f1;
  background-color: rgba(51, 51, 51, 0.65);
  border-radius: 5px;
  -webkit-animation: title-animation 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: title-animation 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  z-index: 999;
}

@font-face {
  font-family: font1;
  src: url(../font/font1.ttf);
}

@-webkit-keyframes widen {
  0% {
    width: 50px;
  }
  100% {
    width: 200px;
  }
}

@keyframes widen {
  0% {
    width: 50px;
  }
  100% {
    width: 200px;
  }
}

@-webkit-keyframes shorten {
  0% {
    width: 200px;
  }
  100% {
    width: 50px;
  }
}

@keyframes shorten {
  0% {
    width: 200px;
  }
  100% {
    width: 50px;
  }
}

@-webkit-keyframes title-animation {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes title-animation {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.book-details {
  color: #151515;
  min-height: 100vh;
  padding: 20px 0px;
}

.book-details a {
  font-size: 1.17em;
}

.book-details hr {
  width: 50%;
  border: 0;
  border-bottom: 2px solid #b5b5b5;
  margin: 25px 0;
}

.book-details .sub-text {
  color: #a7a4a4;
}

.book-details .container {
  padding: 0 45px;
}

@media (max-width: 400px) {
  .book-details .container {
    padding: 0;
  }
}

.book-details .review-list {
  display: -ms-grid;
  display: grid;
  gap: 15px;
  margin: 15px 0;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.book-details .book-details-container {
  padding: 25px 45px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #d3d3d3;
  -webkit-box-shadow: 0 0 5px 0px #3b3838;
          box-shadow: 0 0 5px 0px #3b3838;
}

.book-details .book-details-container .readmore {
  -ms-flex-item-align: end;
      align-self: flex-end;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.book-details .book-details-container .readmore:hover {
  color: #393939;
  text-decoration: underline;
}

@media (max-width: 400px) {
  .book-details .book-details-container {
    padding: 15px;
  }
  .book-details .book-details-container.container {
    width: 100%;
  }
}

.book-details .book-details-container .book-info-container {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.book-details .book-details-container .book-info-container img {
  margin-right: 25px;
  border: 6px inset #d1d1d1;
}

@media (max-width: 400px) {
  .book-details .book-details-container .book-info-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .book-details .book-details-container .book-info-container img {
    margin-right: 0;
  }
}

.book-header {
  color: #151515;
  padding: 25px 0;
  min-height: 20vh;
}

.book-header a {
  -webkit-transition: .3s;
  transition: .3s;
}

.book-header a:hover {
  color: #393939;
  text-decoration: underline;
}

.book-header h3 {
  font-weight: 400;
}

.book-header input {
  padding: 5px;
  border: 0;
  border-radius: 4px;
  background: #d3d3d3;
  -webkit-transition: .3s;
  transition: .3s;
}

.book-header input:focus {
  background: white;
}

.book-header .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (200px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 200px);
  gap: 10px;
}

.book-list {
  padding: 25px 0;
  min-height: 80vh;
}

.book-list h2 {
  margin-bottom: 25px;
}

.book-list .grid {
  display: -ms-grid;
  display: grid;
  gap: 15px;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.book-preview {
  padding: 25px;
  border: 4px #b3b3b3 inset;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #d3d3d3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  min-height: 400px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.book-preview:hover {
  background-color: #939393;
}

.book-preview .pic {
  position: absolute;
  top: 0;
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.onsale {
  background-color: #d42a2a;
  color: #f1f1f1;
  top: -10px;
  right: -10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 30px;
  text-align: center;
}

.modal-screen-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 990;
}
/*# sourceMappingURL=main.css.map */