footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $secBlack;
    color: $mainWhite;

    .liam-logo {
        width: 50px;
        margin-left: 10px;
    }

    @media (max-width:580px) {
        text-align: center;
    }
}