.game-list {

    .game-list-container {
        .games {
            margin-top: 50px;
        }
    }

    h2 {
        color: $mainOrange;
        margin-bottom: -30px;
        text-shadow: 0 0 7px black;
    }

    .card {
        width: calc(15vw - 30px);
        height: calc(15vw - 30px);

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 15px 0;
    }

    @media (max-width:1220px) {
        .card {
            width: calc(33% - 30px);
            height: 250px;


        }
    }

    @media (max-width:720px) {
        .card {
            width: calc(50% - 30px);
            height: 350px;


        }
    }

    @media (max-width:650px) {
        .card {
            width: calc(100% - 30px);
            height: 450px;


        }
    }
}