.patch-list {
    margin-top: -160px;
    margin-bottom: 150px;


    .patch-list-bg {
        height: 100%;
        width: 100%;
        margin-top: -160px;
    }

    .patch-list-card-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
        gap: 55px;
        width: 100%;


        h2 {
            grid-column: 1 / -1;
            color: $mainOrange;
            margin-bottom: -30px;
            text-shadow: 0 0 7px black;
        }
    }

    .card {
        width: 100%;
        height: 100%;
        background-color: rgba(243, 242, 242, 0.068);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.541);
        backdrop-filter: blur(2px);
        color: $mainWhite;

        img {
            height: 40%;
        }

        button {
            background: none;
            border: 2px solid rgba($mainWhite, 0.7);
            color: rgba($mainWhite, 0.7);
            border-radius: 2px;
            font-size: 1rem;
            width: fit-content;
            margin-left: auto;
            padding: 2px 5px;
            transition: .2s;

            &:hover {
                border-color: $mainWhite;
                color: $mainWhite;
            }
        }

        .txt-container {
            padding: 10px;
            height: 60%;

            .patch-body-preview {
                max-height: 20ch;
                overflow: hidden;
                margin-bottom: 25px;
            }
        }
    }
}