.topbtn {
    position: fixed;
    bottom: 15px;
    left: 15px;
    background-color: rgba($mainBlack, 0.5);
    font-size: 0.8rem;
    border-radius: 50%;
    border: 2px solid $secWhite;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $secWhite;
    z-index: 20;
    opacity: 0.5;

    &:hover {
        opacity: 1;
        background-color: rgba($mainBlack, 1);
    }
}