* {
  box-sizing: border-box;
  outline-style: none;
  margin: 0;
  padding: 0;
  font-family: font1, sans-serif;
}

html {
  font-size: 16px;
}

h1 {
  font-family: font2, sans-serif;
  font-size: 2.7rem;

}

h2.category {
  color: $mainOrange;
  margin-bottom: -30px;
  text-shadow: 0 0 7px black;
}

.top-shadow {
  box-shadow: 0px 6px 20px 12px #010101c2;
  margin-top: -30px;
}

.showmore {
  cursor: pointer;
  text-decoration: underline;
  color: $mainWhite;
  font-size: 1rem;

  svg {
    margin-left: 10px;
  }
}

button {
  font-size: 1.4rem;

}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}




label {
  font-weight: 700;
}



//tooltip
[data-title] {
  position: relative;
}

[data-title]:hover:after {
  content: attr(data-title);
  position: absolute;
  top: 175%;
  left: 25px;
  font-size: 1rem;
  width: max-content;
  padding: 5px 10px;
  color: #f1f1f1;
  background-color: rgba(#333333, 0.65);
  border-radius: 5px;
  animation: title-animation 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  z-index: 999;
}