@font-face {
  font-family: font1;
  src: url(../font/Texturina-Regular-opsz=36.ttf);
  font-display: swap;
}

@font-face {
  font-family: font2;
  src: url(../font/Merienda-Regular.ttf);
  font-display: swap;
}